@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../Content/images/casino.jpg');
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200%;
        width: 100%;
    }
</style>
<body>

    

</body>