<form #loginForm="ngForm">

    <div class="row" *ngIf="user">
        <div class="col-xs-12">
            <div class="row" *ngIf="messages && messages.length||(loginForm.form.touched && !loginForm.valid)">
                <div class="col-xs-12">
                    <div class="alert alert-warning">
                        <ul>
                            <li [hidden]="!uniqueId.errors?.required">UniqueId is Required</li>

                        </ul>
                        <ul *ngIf="messages">
                            <li *ngFor="let msg of messages">
                                {{msg}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Login</h1>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="uniqueId">Unique ID</label>
                                    <input type="text"
                                           id="uniqueId"
                                           name="uniqueId"
                                           class="form-control"
                                           [(ngModel)]="user.uniqueId"
                                           #uniqueId="ngModel"
                                           required />

                                </div>

                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-sm btn-primary"
                                        (click)="Login()">
                                    <i class="glyphicon glyphicon-share-alt"></i>
                                    &nbsp; Start Playing
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
</form>